name: Build

on:
  workflow_dispatch:
  workflow_call:
  push:
    paths-ignore:
      - '**.md'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'jetbrains'
          java-package: 'jdk+jcef'
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build with Gradle
        run: |
          ./gradlew :desktop-app:assemble
          ./gradlew :android-app:assemble

      - name: Test with Gradle
        run: |
          ./gradlew jvmTest

      - name: Upload Android Debug APK
        uses: actions/upload-artifact@v6
        with:
          name: debug-apk
          path:  |
            android-app/build/outputs/apk/debug/android-app-debug.apk

      - name: Upload Android Release APK
        uses: actions/upload-artifact@v6
        with:
          name: release-apk
          path:  |
            android-app/build/outputs/apk/release/android-app-release.apk
